<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org "
      lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QMHouse Admin Home</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/Logo.png"/>
    <link rel="stylesheet" href="/static/assetsAdmin/css/styles.min.css"/>
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <nav th:replace="admin/fragmentAdmin/aside :: aside"></nav>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item d-block d-xl-none">
                        <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                            <i class="ti ti-bell-ringing"></i>
                            <div class="notification bg-primary rounded-circle"></div>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <!--  Header End -->
        <div class="container-fluid">
            <!--  Row 1 -->
            <div class="row">
                <div class="col-md-4">
                        <ul id="columnRe" class=" border list-group" style="min-height: 100px">
                        <li class="real-estate-item list-group-item" data-id="1">Real Estate 1</li>
                        <li class="real-estate-item list-group-item" data-id="2">Real Estate 2</li>
                        <li class="real-estate-item list-group-item" data-id="3">Real Estate 3</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul id="columnReRecommend" class="border list-group" style="min-height: 100px"></ul>
                    <button class="btn btn-primary" id="saveButton">Save</button>
                </div>

            </div>
            <!-- Column 2: Show selected real estates -->

        </div>
    </div>
</div>
</div>
<script src="/static/assetsAdmin/libs/jquery/dist/jquery.min.js"></script>
<script src="/static/assetsAdmin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/assetsAdmin/js/sidebarmenu.js"></script>
<script src="/static/assetsAdmin/js/app.min.js"></script>
<script src="/static/assetsAdmin/libs/simplebar/dist/simplebar.js"></script>
<script src="/static/assetsAdmin/js/jquery-ui.js"></script>
<script src="/static/assetsAdmin/js/getdataretoaddrecommendre.js"></script>
<script>


</script>
</body>
</html>