<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org "
      lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QMHouse Admin Users</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/Logo.png"/>
    <link rel="stylesheet" href="/static/assetsAdmin/css/styles.min.css"/>
    <link rel="stylesheet" href="/static/css/saber-toast.css"/>
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <nav th:replace="admin/fragmentAdmin/aside :: aside"></nav>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item d-block d-xl-none">
                        <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                            <i class="ti ti-bell-ringing"></i>
                            <div class="notification bg-primary rounded-circle"></div>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <!--  Header End -->
        <div class="container-fluid">
            <!--  Row 1 -->
            <div class="row">
                <div class="col-12" id="content-container">
                    <div class="mb-3" style="background-color: rgb(255, 255, 255);
                    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;">
                        <form class="row px-4 py-4" method="get"
                              data-aos="fade-up"
                              data-aos-delay="200"
                              id="searchForm">
                            <div class="col-md-10">
                                <div class="form-floating">
                                    <input class="form-control" name="email" id="titleInput" type="text"
                                           th:value="${title}">
                                    <button class="icon-search position-absolute end-0 me-3 border-0 bg-white"
                                            type="submit"
                                            style="top:40%"></button>
                                    <label for="titleInput" class="d-flex flex-nowrap">Username Search</label>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex flex-wrap align-items-lg-center align-items-md-center align-items-start">
                                <p class="text-secondary mt-3" id="advanceSearchBtn"
                                   style="cursor: pointer">
                                    Advanced
                                    Search
                                    <span class="ti ti-corner-right-down"></span>
                                </p>
                            </div>
                            <div class="row mt-3" id="advanceSearch" style="display: none">
                                <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
                                    <label for="role" class="form-label">Role</label>
                                    <select class="form-select" id="role" name="role"
                                            aria-label="Type of role">
                                        <option value="">Select Role</option>
                                        <option th:selected="${role == 'ADMIN'}" value="ADMIN">Admin</option>
                                        <option th:selected="${role == 'USER'}" value="USER">User</option>
                                    </select>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
                                    <label for="isEnable" class="form-label">Is Enable</label>
                                    <select class="form-select" id="isEnable" name="isEnable"
                                            aria-label="Type of Is Enable">
                                        <option value="">Select Enable Type</option>
                                        <option th:selected="${isEnable == 'true'}" value="true">Enable</option>
                                        <option th:selected="${isEnable == 'false'}" value="false">Disable</option>
                                    </select>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
                                    <label for="sort" class="form-label">Sorting by</label>
                                    <select class="form-select" id="sort" name="sort"
                                            aria-label="Sort of Account">
                                        <option value="">Select Sorting</option>
                                        <option th:selected="${sort == 'nameDesc'}" value="nameDesc">Name Down</option>
                                        <option th:selected="${sort == 'nameAsc'}" value="nameAsc">Name Up</option>
                                        <option th:selected="${sort == 'idDesc'}" value="idDesc">Id Down</option>
                                        <option th:selected="${sort == 'idAsc'}" value="idAsc">Id Up</option>
                                    </select>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-3 mb-3 me-lg-3 pe-md-0 pe-sm-0">
                                    <button class="btn btn-secondary" type="submit" style="padding: 10px 15px;">Submit
                                    </button>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-3 mb-3 ps-md-0 ps-sm-0">
                                    <button class="btn btn-secondary" type="button" id="clear-button"
                                            style="padding: 10px 15px;">Clear
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mb-3 px-2" id="list-card-content">
                        <p class="h4 mb-3 mb-md-4"> - List Real Estate - </p>
                    </div>
                </div>
                <div class="row " id="content">
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <thead class="table-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Avatar</th>
                                <th scope="col">Is Enable</th>
                                <th scope="col">Role</th>
                                <th scope="col">Dob</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">City</th>
                                <th scope="col">District</th>
                                <th scope="col">Ward</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider" id="table-content">

                            </tbody>
                        </table>
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination d-flex justify-content-center" id="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="modal fade" id="disableModal" tabindex="-1" aria-labelledby="disableModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="disableModalLabel">Confirm Disable</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="closeDisableModal" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" id="confirmDisableBtn">Confirm Disable</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="enableModal" tabindex="-1" aria-labelledby="enableModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="enableModalLabel">Confirm Enable</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="closeEnableModal" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" id="confirmEnableBtn">Confirm Enable</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/assetsAdmin/libs/jquery/dist/jquery.min.js"></script>
<script src="/static/assetsAdmin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/assetsAdmin/js/sidebarmenu.js"></script>
<script src="/static/assetsAdmin/js/app.min.js"></script>
<script src="/static/assetsAdmin/libs/simplebar/dist/simplebar.js"></script>
<script src="/static/js/advancedSearchBar.js"></script>
<script src="/static/assetsAdmin/js/getdatauser4admin.js"></script>
<script src="/static/assetsAdmin/js/changedisableuser.js"></script>
</body>
</html>