<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Untree.co"/>
    <link rel="shortcut icon" href="/static/images/Logo.png"/>
    <meta name="description" content=""/>
    <meta name="keywords" content="bootstrap, bootstrap5"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
            rel="stylesheet"/>
    <link rel="stylesheet" href="/static/fonts/icomoon/style.css"/>
    <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css"/>
    <link rel="stylesheet" href="/static/css/tiny-slider.css"/>
    <link rel="stylesheet" href="/static/css/aos.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/saber-toast.css"/>
    <link rel="stylesheet" href="/static/css/test.css"/>

    <!--/*@thymesVar id="requestURI" type="url"*/-->
    <link th:if="${requestURI != null and (requestURI == '/login'
                    or requestURI == '/register'
                    or requestURI == '/forgot_password'
                    or requestURI == '/reset_password')}" rel="stylesheet"
                    href="/static/css/owl.carousel.min.css">
    <link th:if="${requestURI != null and (requestURI == '/login'
                    or requestURI == '/register'
                    or requestURI == '/forgot_password'
                    or requestURI == '/reset_password')}" rel="stylesheet"
                    href="/static/css/bootstrap.css">
    <link th:if="${requestURI != null and (requestURI == '/login'
                    or requestURI == '/register'
                    or requestURI == '/forgot_password'
                    or requestURI == '/reset_password')}" rel="stylesheet"
                    href="/static/fonts/flaticon/font/flaticon.css"/>
    <link th:if="${requestURI != null and (requestURI == '/login'
                    or requestURI == '/register'
                    or requestURI == '/forgot_password'
                    or requestURI == '/reset_password')}" rel="stylesheet"
                    href="/static/css/loginStyle.css">

    <title th:if="${requestURI != null and requestURI == ''}">QMHouse, The best real estate trading platform for richness</title>
    <title th:if="${requestURI != null and requestURI == '/properties'}">QMhouse Properties</title>
    <title th:if="${requestURI != null and requestURI == '/services'}">QMhouse Services</title>
    <title th:if="${requestURI != null and requestURI == '/about'}">QMHouse About Us</title>
    <title th:if="${requestURI != null and requestURI == '/wiki'}">QMHouse Wiki</title>
    <title th:if="${requestURI != null and requestURI == '/login'}">QMHouse Login</title>
    <title th:if="${requestURI != null and requestURI == '/register'}">QMHouse Register</title>
    <title th:if="${requestURI != null and requestURI == '/forgot_password'}">QMHouse Forgot Password</title>
    <title th:if="${requestURI != null and requestURI == '/reset_password'}">QMHouse Reset Password</title>
    <title th:if="${requestURI != null and requestURI == '/error'}">QMHouse Error</title>
</head>