<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Untree.co"/>
    <link rel="shortcut icon" href="/static/images/Logo.png"/>
    <meta name="description" content=""/>
    <meta name="keywords" content="bootstrap, bootstrap5"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
            rel="stylesheet"/>
    <link rel="stylesheet" href="/static/fonts/icomoon/style.css"/>
    <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css"/>
    <link rel="stylesheet" href="/static/css/tiny-slider.css"/>
    <link rel="stylesheet" href="/static/css/aos.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/saber-toast.css"/>
    <link rel="stylesheet" href="/static/css/test.css"/>
    <link rel="stylesheet" href="/static/css/nouislider.min.css"/>

    <!--/*@thymesVar id="requestURI" type="url"*/-->
    <link th:if="${requestURI != null and (requestURI == '/login'
                    or requestURI == '/register'
                    or requestURI == '/forgot_password'
                    or requestURI == '/reset_password')}" rel="stylesheet"
                    href="/static/css/owl.carousel.min.css">
    <link th:if="${requestURI != null and (requestURI == '/login'
                    or requestURI == '/register'
                    or requestURI == '/forgot_password'
                    or requestURI == '/reset_password')}" rel="stylesheet"
                    href="/static/css/bootstrap.css">
    <link th:if="${requestURI != null and (requestURI == '/login'
                    or requestURI == '/register'
                    or requestURI == '/forgot_password'
                    or requestURI == '/reset_password')}" rel="stylesheet"
                    href="/static/fonts/flaticon/font/flaticon.css"/>
    <link th:if="${requestURI != null and (requestURI == '/login'
                    or requestURI == '/register'
                    or requestURI == '/forgot_password'
                    or requestURI == '/reset_password')}" rel="stylesheet"
                    href="/static/css/loginStyle.css">
    <link th:if="${requestURI != null and requestURI == '/user_info'}" rel="stylesheet"
          href="/static/css/upload_image.css">
    <link th:if="${requestURI != null and (requestURI == '/mgtre/add'
                    or requestURI == '/mgtre/list')}" rel="stylesheet"
          href="/static/css/btn-check-check-label.css">
    <link th:if="${requestURI != null and (requestURI == '/mgtre/add'
                    or requestURI == '/mgtre/list')}" rel="stylesheet"
          href="/static/css/input-numspin.min.css">
    <link th:if="${requestURI != null and requestURI == '/mgtre/add'}" rel="stylesheet"
          href="/static/css/upload_image.css">

    <title th:if="${requestURI != null and requestURI == ''}">QMHouse, The best real estate trading platform for richness</title>
    <title th:if="${requestURI != null and requestURI == '/properties'}">QMHouse Properties</title>
    <title th:if="${requestURI != null and requestURI.startsWith('/property')}" th:text="${realEstateName}">Single Property</title>
    <title th:if="${requestURI != null and requestURI == '/services'}">QMHouse Services</title>
    <title th:if="${requestURI != null and requestURI == '/about'}">QMHouse About Us</title>
    <title th:if="${requestURI != null and requestURI == '/wiki'}">QMHouse Wiki</title>
    <title th:if="${requestURI != null and requestURI.startsWith('/wiki')}" th:text="${wikiName}">Wiki Detail</title>

    <title th:if="${requestURI != null and requestURI == '/login'}">QMHouse Login</title>
    <title th:if="${requestURI != null and requestURI == '/register'}">QMHouse Register</title>
    <title th:if="${requestURI != null and requestURI == '/forgot_password'}">QMHouse Forgot Password</title>
    <title th:if="${requestURI != null and requestURI == '/reset_password'}">QMHouse Reset Password</title>
    <title th:if="${requestURI != null and requestURI == '/user_info'}">QMHouse User Information</title>
    <title th:if="${requestURI != null and requestURI == '/mgtre'}">QMHouse Manager Real Estate</title>
    <title th:if="${requestURI != null and requestURI == '/mgtre/add'}">QMHouse Manager Add</title>
    <title th:if="${requestURI != null and requestURI == '/mgtre/list'}">QMHouse Manager List</title>
    <title th:if="${requestURI != null and requestURI == '/mgtre/his'}">QMHouse Manager History</title>
    <title th:if="${requestURI != null and requestURI == '/mgtre/cont'}">QMHouse Manager Contact</title>
    <title th:if="${requestURI != null and requestURI == '/error'}">QMHouse Error</title>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/662246bda0c6737bd12e1017/1hrqu8nj7';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</head>