<nav class="site-nav"
     th:fragment="navbar"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="menu-bg-wrap" style="height: 4.5rem">
            <div class="site-navigation">
                <a href="/" class="m-0">
                    <img class="col-2 my-1 h-auto" src="/static/images/Logo.png" alt="Logo" style="max-width: 4rem">
                </a>
                <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end my-3">
                    <!--/*@thymesVar id="requestURI" type="url"*/-->
                    <li th:classappend="${requestURI == '/'} ? 'active' : ''"><a href="/">Home</a></li>
                    <li th:classappend="${requestURI == '/properties'} ? 'active' : ''" class="has-children">
                        <a href="/properties">Properties</a>
                        <ul class="dropdown">
                            <li><a href="/properties?type=sell">Buy Property</a></li>
                            <li><a href="/properties?type=rent">Rent Property</a></li>
                        </ul>
                    </li>
                    <li th:classappend="${requestURI == '/services'} ? 'active' : ''"><a href="/services">Services</a>
                    </li>
                    <li th:classappend="${requestURI == '/about'} ? 'active' : ''"><a href="/about">About</a>
                    </li>
                    <li th:classappend="${requestURI == '/wiki'} ? 'active' : ''"><a href="/wiki">Wiki</a></li>
                    <li th:classappend="${requestURI == '/login' || requestURI == '/register'} ? 'active' : ''"
                        sec:authorize="!isAuthenticated()"><a href="/login">Log in</a>
                    </li>
                    <li class="has-children" sec:authorize="isAuthenticated()"
                        th:classappend="${requestURI == '/user_info' || requestURI == '/mgtre/**' } ? 'active' : ''">
                        <!--/*@thymesVar id="username" type="username"*/-->
                        <a th:text="${username}">Username</a>
                        <ul class="dropdown">
                            <li><a href="/user_info">User Information</a></li>
                            <li><a href="/mgtre/add">Manager Real Estate</a></li>
                            <li th:if="${#lists.contains(authorities.![authority], 'ADMIN')}">
                                <a href="/admin/home">Admin Panel</a>
                            </li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="#"
                   class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
                   data-toggle="collapse"
                   data-target="#main-navbar"
                   style="transform: translateY(50%)">
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</nav>