<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head th:replace="fragment/header_css_title :: header">
    <title>Services</title>
</head>
<body>
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav th:replace="fragment/navbar :: navbar"></nav>
<div class="hero page-inner overlay"
     style="background-image: url('/static/images/hero_bg_1.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Manager Real Estate</h1>

                <nav aria-label="breadcrumb"
                     data-aos="fade-up"
                     data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Manager Real Estate</a></li>
                        <li class="breadcrumb-item active text-white-50"
                            aria-current="page">
                            List Of Real Estate
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-secondary btn-no-hover">
                <i class="icon-menu"></i>
            </button>
        </div>
        <div class="p-4">
            <ul class="list-unstyled components mb-5">
                <li th:classappend="${requestURI == '/mgtre/add' ? 'active' : ''}">
                    <a href="/mgtre/add"><span class="icon-newspaper-o mr-3"></span> Post New Real Estate</a>
                </li>
                <li th:classappend="${requestURI == '/mgtre/list' ? 'active' : ''}">
                    <a href="/mgtre/list"><span class="icon-list mr-3"></span> List Of Real Estate</a>
                </li>
                <li th:classappend="${requestURI == '/mgtre/his' ? 'active' : ''}">
                    <a href="/mgtre/his"><span class="icon-history mr-3"></span> History Transactions</a>
                </li>
                <li th:classappend="${requestURI == '/mgtre/cont' ? 'active' : ''}">
                    <a href="/mgtre/cont"><span class="icon-contacts mr-3"></span> Contacts</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Your Real Estate</h2>
        <div class="col-12 "
             style="background-color: rgb(255, 255, 255);
             box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;">
            <div class="row px-4 pt-4">
                <div class="col-12 d-flex justify-content-center">
                    <img src="/static/images/welcome_new_user.dcf416a4.png" alt="well come new user">
                    <div class="position-absolute top-100">
                        <h5 class="mb-3">Non have real estate to show</h5>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <p>Post your first Real Estate here to sell or rent</p>
                </div>
                <div class="col-12 text-center mb-3">
                    <a class="btn btn-secondary">Post New Real Estate</a>
                </div>
            </div>
        </div>
        <form class="col-12" method="get">
            <input name="title" type="text">
            <select class="form-select" id="cityID" name="city"
                    aria-label="Floating label select city">
                <option value="">Select Your City</option>
            </select>
            <select class="form-select" id="districtID" name="district"
                    aria-label="Floating label select example">
                <option value="">Select Your District</option>
            </select>
            <select class="form-select" id="wardID" name="ward"
                    aria-label="Floating label select example">
                <option value="">Select Your Ward</option>
            </select>
            <input type="checkbox" name="sort" value="true">
            <button type="submit">Get</button>
        </form>
    </div>
</div>
<div th:replace="fragment/footer :: footer"></div>
<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/tiny-slider.js"></script>
<script src="/static/js/aos.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/counter.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/jquery/jquery-3.7.1.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/location.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/slide-bar.js"></script>
<script src="/static/js/getReOfUser.js"></script>
</body>
</html>
