<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head th:replace="fragment/header_css_title :: header">
    <title>About</title>
</head>
<body>
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav th:replace="fragment/navbar :: navbar"></nav>


<div
        class="hero page-inner overlay"
        style="background-image: url('/static/images/hero_bg_3.jpg')"
>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">About</h1>

                <nav
                        aria-label="breadcrumb"
                        data-aos="fade-up"
                        data-aos-delay="200"
                >
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li
                                class="breadcrumb-item active text-white-50"
                                aria-current="page"
                        >
                            About
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row text-left mb-5">
            <div class="col-12">
                <h2 class="font-weight-bold heading text-primary mb-4">About Us</h2>
            </div>
            <div class="col-lg-6">
                <p class="text-black-50">
                    QMHouse: Your Trusted Partner in Real Estate
                </p>
                <p class="text-black-50">
                    At QMHouse, we understand that buying
                    or selling a property is not just a transaction;
                    it's a significant milestone in your life.
                    With years of expertise and a passion for
                    excellence, we have established ourselves
                    as a premier real estate agency dedicated
                    to providing unparalleled service to our clients.
                </p>
                <p class="text-black-50">
                    Experience and Expertise: Backed by a team of
                    seasoned professionals, QMHouse brings
                    a wealth of experience and expertise to the
                    table. Whether you're a first-time homebuyer,
                    a seasoned investor, or looking to sell your
                    property, our agents are committed to guiding
                    you through every step of the process with
                    precision and care.
                </p>
                <p class="text-black-50">
                    Comprehensive Services: From residential homes
                    to commercial properties, we offer a comprehensive
                    range of real estate services tailored to meet
                    your unique needs. Our extensive network and market
                    knowledge enable us to identify opportunities that
                    align with your goals, ensuring a seamless and
                    rewarding experience.
                </p>
                <p class="text-black-50">
                    Client-Centric Approach: At the heart of our business
                    is a dedication to our clients. We believe in building
                    long-term relationships based on trust, integrity, and
                    exceptional service. From initial consultation to closing,
                    we prioritize your needs and goals, providing personalized
                    solutions that exceed your expectations.
                </p>
            </div>
            <div class="col-lg-6">
                <p class="text-black-50">
                    Innovative Technology: In a rapidly evolving
                    digital landscape, QMHouse leverages
                    the latest technology and tools to streamline
                    the buying and selling process. Whether it's
                    virtual tours, online listings, or advanced
                    analytics, we harness the power of innovation
                    to deliver results that are efficient, effective,
                    and transparent.
                </p>
                <p class="text-black-50">
                    Community Engagement: As members of the community,
                    we are deeply committed to giving back and making
                    a positive impact. Through philanthropic initiatives
                    and community involvement, QMHouse strives
                    to enrich the neighborhoods we serve, fostering
                    growth, and prosperity for all.
                </p>
                <p class="text-black-50">
                    Your Trusted Partner: When it comes to real estate,
                    you need a trusted partner by your side.
                    With QMHouse, you can rest assured
                    that your investment is in capable hands.
                    Whether you're embarking on a new chapter or
                    seizing a lucrative opportunity, let us help
                    you turn your real estate dreams into reality.
                </p>
                <p class="text-black-50">
                    Contact QMHouse today and experience
                    the difference firsthand. Welcome home to a
                    brighter future with QMHouse.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section pt-0">
    <div class="container">
        <div class="row justify-content-between mb-5">
            <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
                <div class="img-about dots">
                    <img src="/static/images/hero_bg_3.jpg" alt="Image" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-home2"></span>
              </span>
                    <div class="feature-text">
                        <h3 class="heading">2M Properties</h3>
                        <p class="text-black-50">
                            Exceptional Listings Await.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-person"></span>
              </span>
                    <div class="feature-text">
                        <h3 class="heading">Top Rated Agents</h3>
                        <p class="text-black-50">
                            Expert Help.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-security"></span>
              </span>
                    <div class="feature-text">
                        <h3 class="heading">Legit Properties</h3>
                        <p class="text-black-50">
                            Genuine Opportunities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section pt-0">
    <div class="container">
        <div class="row justify-content-between mb-5">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="img-about dots">
                    <img src="/static/images/hero_bg_2.jpg" alt="Image" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-home2"></span>
              </span>
                    <div class="feature-text">
                        <h3 class="heading">2M Properties</h3>
                        <p class="text-black-50">
                            Exceptional Listings Await.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-person"></span>
              </span>
                    <div class="feature-text">
                        <h3 class="heading">Top Rated Agents</h3>
                        <p class="text-black-50">
                            Expert Help.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-security"></span>
              </span>
                    <div class="feature-text">
                        <h3 class="heading">Legit Properties</h3>
                        <p class="text-black-50">
                            Genuine Opportunities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
                <img src="/static/images/img_1.jpg" alt="Image" class="img-fluid"/>
            </div>
            <div class="col-md-4 mt-lg-5" data-aos="fade-up" data-aos-delay="100">
                <img src="/static/images/img_3.jpg" alt="Image" class="img-fluid"/>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                <img src="/static/images/img_2.jpg" alt="Image" class="img-fluid"/>
            </div>
        </div>
        <div class="row section-counter mt-5">
            <div
                    class="col-6 col-sm-6 col-md-6 col-lg-3"
                    data-aos="fade-up"
                    data-aos-delay="300"
            >
                <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
              ><span class="countup text-primary">2917</span></span
              >
                    <span class="caption text-black-50"># of Buy Properties</span>
                </div>
            </div>
            <div
                    class="col-6 col-sm-6 col-md-6 col-lg-3"
                    data-aos="fade-up"
                    data-aos-delay="400"
            >
                <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
              ><span class="countup text-primary">3918</span></span
              >
                    <span class="caption text-black-50"># of Sell Properties</span>
                </div>
            </div>
            <div
                    class="col-6 col-sm-6 col-md-6 col-lg-3"
                    data-aos="fade-up"
                    data-aos-delay="500"
            >
                <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
              ><span class="countup text-primary">38928</span></span
              >
                    <span class="caption text-black-50"># of All Properties</span>
                </div>
            </div>
            <div
                    class="col-6 col-sm-6 col-md-6 col-lg-3"
                    data-aos="fade-up"
                    data-aos-delay="600"
            >
                <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
              ><span class="countup text-primary">1291</span></span
              >
                    <span class="caption text-black-50"># of Agents</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-5 bg-light">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-6 mb-5">
                <h2 class="font-weight-bold heading text-primary mb-4">
                    Our Founder
                </h2>
                <p class="text-black-50">
                    Meet our dedicated team of
                    real estate professionals.
                    With unwavering commitment
                    and expertise, they’ll guide
                    you toward your property goals.
                    Trust in their guidance.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="h-100 person">
                    <img src="/static/images/avatars/avatarFounder2.jpg"
                         alt="Image"
                         class="img-fluid"/>

                    <div class="person-contents">
                        <h2 class="mb-0"><a href="#">Nguyen Phi Quan</a></h2>
                        <span class="meta d-block mb-3">Real Estate Founder</span>
                        <p>
                            As visionary in the real estate industry,
                            founded our agency with unwavering dedication.
                            His commitment to excellence drives our team forward,
                            ensuring that every client’s property journey is
                            guided by expertise and trust.
                        </p>

                        <ul class="social list-unstyled list-inline dark-hover">
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-linkedin"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="h-100 person">
                    <img src="/static/images/avatars/avatarFounder1.jpg"
                         alt="Image"
                         class="img-fluid"/>

                    <div class="person-contents">
                        <h2 class="mb-0"><a href="#">Nguyen Nhat Minh</a></h2>
                        <span class="meta d-block mb-3">Real Estate Founder</span>
                        <p>
                            A trailblazer in the real estate industry,
                            founded our agency with unwavering dedication.
                            His commitment to excellence drives our team
                            forward, ensuring that every client’s property
                            journey is guided by expertise and trust.
                        </p>

                        <ul class="social list-unstyled list-inline dark-hover">
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-linkedin"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragment/footer :: footer"></div>

<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/tiny-slider.js"></script>
<script src="/static/js/aos.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/counter.js"></script>
<script src="/static/js/custom.js"></script>
</body>
</html>
