<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head th:replace="fragment/header_css_title :: header">
    <title>Home</title>
</head>
<body>
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>
<nav th:replace="fragment/navbar :: navbar"></nav>
<div class="hero">
    <div class="hero-slide">
        <div
                class="img overlay"
                style="background-image: url('/static/images/hero_bg_3.jpg')"
        ></div>
        <div
                class="img overlay"
                style="background-image: url('/static/images/hero_bg_2.jpg')"
        ></div>
        <div
                class="img overlay"
                style="background-image: url('/static/images/hero_bg_1.jpg')"
        ></div>
    </div>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center">
                <h1 class="heading" data-aos="fade-up">
                    Easiest way to find your dream home
                </h1>
                <form action="/properties"
                      method="get"
                      class="narrow-w form-search d-flex align-items-stretch mb-3 flex-column"
                      data-aos="fade-up"
                      data-aos-delay="200">
                    <input type="text"
                           class="form-control px-4 mb-2"
                           name="title"
                           id="titleID"
                           placeholder="Your ZIP code or City. e.g. New York"/>
                    <div class="d-flex flex-row flex-wrap justify-content-evenly" id="advanceSearch"
                         style="display: none !important">
                        <div class=" first mb-3">
                            <label class="fs-6 text-white ms-2" for="typeID">Type of real estate</label>
                            <select class="form-select form-control col-md-10 select-custom rounded-pill home-selector"
                                    name="type" id="typeID">
                                <option value="">Select Type</option>
                                <option value="sell">For Sell</option>
                                <option value="rent">For Rent</option>
                            </select>
                        </div>
                        <div class=" first mb-3">
                            <label class="fs-6 text-white ms-2" for="cityID">City</label>
                            <select class="form-select form-control col-md-10 select-custom rounded-pill home-selector"
                                    name="city" id="cityID">
                                <option value="">Select City</option>
                            </select>
                        </div>
                        <div class=" first mb-3">
                            <label class="fs-6 text-white ms-2" for="districtID">District</label>
                            <select class="form-select form-control col-md-10 select-custom rounded-pill home-selector"
                                    name="district" id="districtID">
                                <option value="">Select District</option>
                            </select>
                        </div>
                        <div class=" first mb-3">
                            <label class="fs-6 text-white ms-2" for="wardID">Ward</label>
                            <select class="form-select form-control col-md-10 select-custom rounded-pill home-selector"
                                    name="ward" id="wardID">
                                <option value="">Select ward</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-6">
                <h2 class="font-weight-bold text-primary heading">
                    Popular Properties
                </h2>
            </div>
            <div class="col-lg-6 text-lg-end">
                <p>
                    <a href="/properties"
                       target="_blank"
                       class="btn btn-primary text-white py-3 px-4">
                        View all properties
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="property-slider-wrap">
                    <div class="property-slider">
                        <div class="property-item">
                            <a href="/property_single" class="img">
                                <img src="/static/images/img_1.jpg" alt="Image" class="img-fluid"/>
                            </a>
                            <div class="property-content">
                                <div class="price mb-2"><span>$1,291,000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">
                                        5232 California Fake, Ave. 21BC
                                    </span>
                                    <span class="city d-block mb-3">
                                        California, USA
                                    </span>
                                    <div class="specs d-flex mb-4">
                                        <span class="d-block d-flex align-items-center me-3">
                                          <span class="icon-bed me-2"></span>
                                          <span class="caption">2 beds</span>
                                        </span>
                                        <span class="d-block d-flex align-items-center">
                                            <span class="icon-bath me-2"></span>
                                            <span class="caption">2 baths</span>
                                        </span>
                                    </div>
                                    <a href="/property_single"
                                       class="btn btn-primary py-2 px-3">
                                        See details
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a href="/property_single" class="img">
                                <img src="/static/images/img_2.jpg" alt="Image" class="img-fluid"/>
                            </a>
                            <div class="property-content">
                                <div class="price mb-2"><span>$1,291,000</span></div>
                                <div>
                                  <span class="d-block mb-2 text-black-50">
                                      5232 California Fake, Ave. 21BC
                                  </span>
                                  <span class="city d-block mb-3">California, USA</span>
                                  <div class="specs d-flex mb-4">
                                    <span class="d-block d-flex align-items-center me-3">
                                      <span class="icon-bed me-2"></span>
                                      <span class="caption">2 beds</span>
                                    </span>
                                    <span class="d-block d-flex align-items-center">
                                        <span class="icon-bath me-2"></span>
                                        <span class="caption">2 baths</span>
                                    </span>
                                  </div>
                                    <a href="/property_single"
                                       class="btn btn-primary py-2 px-3">
                                        See details
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a href="/property_single" class="img">
                                <img src="/static/images/img_3.jpg" alt="Image" class="img-fluid"/>
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$1,291,000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">5232 California Fake, Ave. 21BC</span>
                                    <span class="city d-block mb-3">California, USA</span>

                                    <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                                        <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                                    </div>

                                    <a href="/property_single"
                                       class="btn btn-primary py-2 px-3">See details</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a href="/property_single" class="img">
                                <img src="/static/images/img_4.jpg" alt="Image" class="img-fluid"/>
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$1,291,000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">5232 California Fake, Ave. 21BC</span>
                                    <span class="city d-block mb-3">California, USA</span>

                                    <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                                        <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                                    </div>

                                    <a href="/property_single"
                                       class="btn btn-primary py-2 px-3">See details</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a href="/property_single" class="img">
                                <img src="/static/images/img_5.jpg" alt="Image" class="img-fluid"/>
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$1,291,000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">5232 California Fake, Ave. 21BC</span>
                                    <span class="city d-block mb-3">California, USA</span>

                                    <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                                        <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                                    </div>

                                    <a href="/property_single"
                                       class="btn btn-primary py-2 px-3">See details</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a href="/property_single" class="img">
                                <img src="/static/images/img_6.jpg" alt="Image" class="img-fluid"/>
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$1,291,000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">5232 California Fake, Ave. 21BC</span>
                                    <span class="city d-block mb-3">California, USA</span>

                                    <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                                        <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                                    </div>

                                    <a href="/property_single"
                                       class="btn btn-primary py-2 px-3">See details</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a href="/property_single" class="img">
                                <img src="/static/images/img_7.jpg" alt="Image" class="img-fluid"/>
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$1,291,000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">5232 California Fake, Ave. 21BC</span>
                                    <span class="city d-block mb-3">California, USA</span>

                                    <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                                        <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                                    </div>

                                    <a href="/property_single"
                                       class="btn btn-primary py-2 px-3">See details</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a href="/property_single" class="img">
                                <img src="/static/images/img_8.jpg" alt="Image" class="img-fluid"/>
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$1,291,000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">5232 California Fake, Ave. 21BC</span>
                                    <span class="city d-block mb-3">California, USA</span>

                                    <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                                        <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                                    </div>

                                    <a href="/property_single"
                                       class="btn btn-primary py-2 px-3">See details</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->

                        <div class="property-item">
                            <a href="/property_single" class="img">
                                <img src="/static/images/img_1.jpg" alt="Image" class="img-fluid"/>
                            </a>

                            <div class="property-content">
                                <div class="price mb-2"><span>$1,291,000</span></div>
                                <div>
                                    <span class="d-block mb-2 text-black-50">5232 California Fake, Ave. 21BC</span>
                                    <span class="city d-block mb-3">California, USA</span>

                                    <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                                        <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                                    </div>
                                    <a href="/property_single"
                                       class="btn btn-primary py-2 px-3">See details</a>
                                </div>
                            </div>
                        </div>
                        <!-- .item -->
                    </div>

                    <div id="property-nav"
                         class="controls"
                         tabindex="0"
                         aria-label="Carousel Navigation">
                        <span
                        class="prev"
                        data-controls="prev"
                        aria-controls="property"
                        tabindex="-1">Prev</span>
                        <span class="next"
                              data-controls="next"
                              aria-controls="property"
                              tabindex="-1">Next</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="features-1">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                <div class="box-feature">
                    <span class="flaticon-house"></span>
                    <h3 class="mb-3">Our Properties</h3>
                    <p>
                        Discover a Wide Range of Exceptional Listings.
                    </p>
                    <p><a href="/properties" class="learn-more">Learn More</a></p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
                <div class="box-feature">
                    <span class="flaticon-building"></span>
                    <h3 class="mb-3">Property for Sale</h3>
                    <p>
                        Explore Available Homes and Investment Opportunities.
                    </p>
                    <p><a href="/properties" class="learn-more">Learn More</a></p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
                <div class="box-feature">
                    <span class="flaticon-house-3"></span>
                    <h3 class="mb-3">Real Estate Agent</h3>
                    <p>
                        Trusted Advisors for Your Property Journey.
                    </p>
                    <p><a href="/properties" class="learn-more">Learn More</a></p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
                <div class="box-feature">
                    <span class="flaticon-house-1"></span>
                    <h3 class="mb-3">House for Sale</h3>
                    <p>
                        Find Your Perfect Home Sweet Home.
                    </p>
                    <p><a href="/properties" class="learn-more">Learn More</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section sec-testimonials">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-md-6">
                <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">
                    Customer Says
                </h2>
            </div>
            <div class="col-md-6 text-md-end">
                <div id="testimonial-nav">
                    <span class="prev" data-controls="prev">Prev</span>
                    <span class="next" data-controls="next">Next</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4"></div>
        </div>
        <div class="testimonial-slider-wrap">
            <div class="testimonial-slider">
                <div class="item">
                    <div class="testimonial">
                        <img src="/static/images/avatars/avatarCustomer1.jpg"
                             alt="Image"
                             class="img-fluid rounded-circle w-25 mb-4"/>
                        <div class="rate">
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                        </div>
                        <h3 class="h5 text-primary mb-4">Tra Mie</h3>
                        <blockquote>
                            <p>
                                &ldquo;Navigating the website was a breeze.
                                The property listings were comprehensive,
                                and the search filters made it easy to
                                find exactly what I was looking for.
                                Kudos to the team.&rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black-50">Customer</p>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial">
                        <img
                                src="/static/images/avatars/avatarCustomer2.jpg"
                                alt="Image"
                                class="img-fluid rounded-circle w-25 mb-4"
                        />
                        <div class="rate">
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                        </div>
                        <h3 class="h5 text-primary mb-4">Thao Anh</h3>
                        <blockquote>
                            <p>
                                &ldquo;Thanks to this website, I discovered my
                                perfect home. The detailed property
                                descriptions and high-quality images
                                helped me make an informed decision.
                                Highly recommended.&rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black-50">Customer</p>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial">
                        <img
                                src="/static/images/avatars/avatarCustomer3.jpg"
                                alt="Image"
                                class="img-fluid rounded-circle w-25 mb-4"
                        />
                        <div class="rate">
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                        </div>
                        <h3 class="h5 text-primary mb-4">Ha Phuong</h3>
                        <blockquote>
                            <p>
                                &ldquo;The real estate agents on this platform
                                provided invaluable advice throughout my
                                property search. Their expertise and
                                responsiveness made the process smooth.&rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black-50">Customer</p>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial">
                        <img
                                src="/static/images/avatars/avatarCustomer4.jpg"
                                alt="Image"
                                class="img-fluid rounded-circle w-25 mb-4"
                        />
                        <div class="rate">
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                        </div>
                        <h3 class="h5 text-primary mb-4">Cam Ly</h3>
                        <blockquote>
                            <p>
                                &ldquo;I appreciated the user-friendly
                                and accurate property information.
                                Whether you’re a buyer or seller,
                                this website is a must-visit.&rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black-50">Designer, Co-founder</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-4 bg-light">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-5">
                <h2 class="font-weight-bold heading text-primary mb-4">
                    Let's find home that's perfect for you
                </h2>
                <p class="text-black-50">
                    Embark on a journey to discover the ideal
                    place that resonates with your heart.
                    Whether it’s a cozy cottage or a modern
                    oasis, we’ll guide you toward
                    a home that truly feels like yours.
                </p>
            </div>
        </div>
        <div class="row justify-content-between mb-5">
            <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
                <div class="img-about dots">
                    <img src="/static/images/hero_bg_3.jpg" alt="Image" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-home2"></span>
              </span>
                    <div class="feature-text">
                        <h3 class="heading">2M Properties</h3>
                        <p class="text-black-50">
                            Exceptional Listings Await.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-person"></span>
              </span>
                    <div class="feature-text">
                        <h3 class="heading">Top Rated Agents</h3>
                        <p class="text-black-50">
                            Expert Help.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-security"></span>
              </span>
                    <div class="feature-text">
                        <h3 class="heading">Legit Properties</h3>
                        <p class="text-black-50">
                            Genuine Opportunities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-counter mt-5">
            <div
                    class="col-6 col-sm-6 col-md-6 col-lg-3"
                    data-aos="fade-up"
                    data-aos-delay="300">
                <div class="counter-wrap mb-5 mb-lg-0">
                    <span class="number"><span class="countup text-primary">3298</span></span>
                    <span class="caption text-black-50"># of Buy Properties</span>
                </div>
            </div>
            <div
                    class="col-6 col-sm-6 col-md-6 col-lg-3"
                    data-aos="fade-up"
                    data-aos-delay="400">
                <div class="counter-wrap mb-5 mb-lg-0">
                    <span class="number"><span class="countup text-primary">2181</span></span>
                    <span class="caption text-black-50"># of Sell Properties</span>
                </div>
            </div>
            <div
                    class="col-6 col-sm-6 col-md-6 col-lg-3"
                    data-aos="fade-up"
                    data-aos-delay="500">
                <div class="counter-wrap mb-5 mb-lg-0">
                    <span class="number"><span class="countup text-primary">9316</span></span>
                    <span class="caption text-black-50"># of All Properties</span>
                </div>
            </div>
            <div
                    class="col-6 col-sm-6 col-md-6 col-lg-3"
                    data-aos="fade-up"
                    data-aos-delay="600">
                <div class="counter-wrap mb-5 mb-lg-0">
                    <span class="number"><span class="countup text-primary">7191</span></span>
                    <span class="caption text-black-50"># of Agents</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="row justify-content-center footer-cta" data-aos="fade-up">
        <div class="col-lg-7 mx-auto text-center">
            <h2 class="mb-4">Be a part of our growing real state agents</h2>
            <p>
                <a href="#"
                   target="_blank"
                   class="btn btn-primary text-white py-3 px-4">
                    Apply for Real Estate agent
                </a>
            </p>
        </div>
        <!-- /.col-lg-7 -->
    </div>
    <!-- /.row -->
</div>

<div class="section section-5 bg-light">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-6 mb-5">
                <h2 class="font-weight-bold heading text-primary mb-4">
                    Our Founder
                </h2>
                <p class="text-black-50">
                    Meet our dedicated team of
                    real estate professionals.
                    With unwavering commitment
                    and expertise, they’ll guide
                    you toward your property goals.
                    Trust in their guidance.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="h-100 person">
                    <img src="/static/images/avatars/avatarFounder2.jpg"
                         alt="Image"
                         class="img-fluid"/>

                    <div class="person-contents">
                        <h2 class="mb-0"><a href="#">Nguyen Phi Quan</a></h2>
                        <span class="meta d-block mb-3">Real Estate Founder</span>
                        <p>
                            As visionary in the real estate industry,
                            founded our agency with unwavering dedication.
                            His commitment to excellence drives our team forward,
                            ensuring that every client’s property journey is
                            guided by expertise and trust.
                        </p>

                        <ul class="social list-unstyled list-inline dark-hover">
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-linkedin"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="h-100 person">
                    <img src="/static/images/avatars/avatarFounder1.jpg"
                         alt="Image"
                         class="img-fluid"/>

                    <div class="person-contents">
                        <h2 class="mb-0"><a href="#">Nguyen Nhat Minh</a></h2>
                        <span class="meta d-block mb-3">Real Estate Founder</span>
                        <p>
                            A trailblazer in the real estate industry,
                            founded our agency with unwavering dedication.
                            Her commitment to excellence drives our team
                            forward, ensuring that every client’s property
                            journey is guided by expertise and trust.
                        </p>

                        <ul class="social list-unstyled list-inline dark-hover">
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-linkedin"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragment/footer :: footer"></div>

<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/tiny-slider.js"></script>
<script src="/static/js/aos.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/counter.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/jquery/jquery-3.7.1.js"></script>
<script src="/static/js/home.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/location.js"></script>
</body>
</html>
