<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head th:replace="fragment/header_css_title :: header">
    <title>Properties</title>
</head>
<body>
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>
<nav th:replace="fragment/navbar :: navbar"></nav>
<div
        class="hero page-inner overlay"
        style="background-image: url('/static/images/hero_bg_1.jpg')"
>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Properties</h1>
                <nav aria-label="breadcrumb"
                        data-aos="fade-up"
                        data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active text-white-50"
                                aria-current="page">
                            Properties
                        </li>
                    </ol>
                </nav>

                <form class="narrow-w form-search d-flex align-items-stretch mb-3 flex-column"
                      data-aos="fade-up"
                      data-aos-delay="200">
                    <input type="text"
                           class="form-control px-4 mb-2"
                           name="title"
                           id="titleID"
                           placeholder="Insert your title here to find real estate"
                           th:value="${searchTitle}"/>
                    <div class="d-flex flex-row flex-wrap justify-content-evenly" id="advanceSearch">
                        <div class=" first mb-3">
                            <label class="fs-6 text-white ms-2" for="typeID">Type of real estate</label>
                            <select class="form-select form-control col-md-10 select-custom rounded-pill home-selector"
                                    name="type" id="typeID">
                                <option value="">Select Type</option>
                                <option value="sell" th:selected="${searchType == 'sell'} ">For Sell</option>
                                <option value="rent" th:selected="${searchType == 'rent'}">For Rent</option>
                            </select>
                        </div>
                        <div class=" first mb-3">
                            <label class="fs-6 text-white ms-2" for="cityID">City</label>
                            <select class="form-select form-control col-md-10 select-custom rounded-pill home-selector"
                                    name="city" id="cityID">
                                <option value="">Select City</option>
                            </select>
                            <p id="my_city" th:text="${searchCity}" hidden></p>
                        </div>
                        <div class=" first mb-3">
                            <label class="fs-6 text-white ms-2" for="districtID">District</label>
                            <select class="form-select form-control col-md-10 select-custom rounded-pill home-selector"
                                    name="district" id="districtID">
                                <option value="">Select District</option>
                            </select>
                            <p id="my_district" th:text="${searchDistrict}" hidden></p>
                        </div>
                        <div class=" first mb-3">
                            <label class="fs-6 text-white ms-2" for="wardID">Ward</label>
                            <select class="form-select form-control col-md-10 select-custom rounded-pill home-selector"
                                    name="ward" id="wardID">
                                <option value="">Select ward</option>
                            </select>
                            <p id="my_ward" th:text="${searchWard}" hidden></p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--    <div class="section">-->
<!--      <div class="container">-->
<!--        <div class="row mb-5 align-items-center">-->
<!--          <div class="col-lg-6 text-center mx-auto">-->
<!--            <h2 class="font-weight-bold text-primary heading">-->
<!--              Featured Properties-->
<!--            </h2>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-12">-->
<!--            <div class="property-slider-wrap">-->
<!--              <div class="property-slider">-->
<!--                <div class="property-item">-->
<!--                  <a href="property-single.html" class="img">-->
<!--                    <img src="/static/images/img_1.jpg" alt="Image" class="img-fluid" />-->
<!--                  </a>-->

<!--                  <div class="property-content">-->
<!--                    <div class="price mb-2"><span>$1,291,000</span></div>-->
<!--                    <div>-->
<!--                      <span class="d-block mb-2 text-black-50"-->
<!--                        >5232 California Fake, Ave. 21BC</span-->
<!--                      >-->
<!--                      <span class="city d-block mb-3">California, USA</span>-->

<!--                      <div class="specs d-flex mb-4">-->
<!--                        <span class="d-block d-flex align-items-center me-3">-->
<!--                          <span class="icon-bed me-2"></span>-->
<!--                          <span class="caption">2 beds</span>-->
<!--                        </span>-->
<!--                        <span class="d-block d-flex align-items-center">-->
<!--                          <span class="icon-bath me-2"></span>-->
<!--                          <span class="caption">2 baths</span>-->
<!--                        </span>-->
<!--                      </div>-->

<!--                      <a-->
<!--                        href="property-single.html"-->
<!--                        class="btn btn-primary py-2 px-3"-->
<!--                        >See details</a-->
<!--                      >-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; .item &ndash;&gt;-->

<!--                <div class="property-item">-->
<!--                  <a href="property-single.html" class="img">-->
<!--                    <img src="/static/images/img_2.jpg" alt="Image" class="img-fluid" />-->
<!--                  </a>-->

<!--                  <div class="property-content">-->
<!--                    <div class="price mb-2"><span>$1,291,000</span></div>-->
<!--                    <div>-->
<!--                      <span class="d-block mb-2 text-black-50"-->
<!--                        >5232 California Fake, Ave. 21BC</span-->
<!--                      >-->
<!--                      <span class="city d-block mb-3">California, USA</span>-->

<!--                      <div class="specs d-flex mb-4">-->
<!--                        <span class="d-block d-flex align-items-center me-3">-->
<!--                          <span class="icon-bed me-2"></span>-->
<!--                          <span class="caption">2 beds</span>-->
<!--                        </span>-->
<!--                        <span class="d-block d-flex align-items-center">-->
<!--                          <span class="icon-bath me-2"></span>-->
<!--                          <span class="caption">2 baths</span>-->
<!--                        </span>-->
<!--                      </div>-->

<!--                      <a-->
<!--                        href="property-single.html"-->
<!--                        class="btn btn-primary py-2 px-3"-->
<!--                        >See details</a-->
<!--                      >-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; .item &ndash;&gt;-->

<!--                <div class="property-item">-->
<!--                  <a href="property-single.html" class="img">-->
<!--                    <img src="/static/images/img_3.jpg" alt="Image" class="img-fluid" />-->
<!--                  </a>-->

<!--                  <div class="property-content">-->
<!--                    <div class="price mb-2"><span>$1,291,000</span></div>-->
<!--                    <div>-->
<!--                      <span class="d-block mb-2 text-black-50"-->
<!--                        >5232 California Fake, Ave. 21BC</span-->
<!--                      >-->
<!--                      <span class="city d-block mb-3">California, USA</span>-->

<!--                      <div class="specs d-flex mb-4">-->
<!--                        <span class="d-block d-flex align-items-center me-3">-->
<!--                          <span class="icon-bed me-2"></span>-->
<!--                          <span class="caption">2 beds</span>-->
<!--                        </span>-->
<!--                        <span class="d-block d-flex align-items-center">-->
<!--                          <span class="icon-bath me-2"></span>-->
<!--                          <span class="caption">2 baths</span>-->
<!--                        </span>-->
<!--                      </div>-->

<!--                      <a-->
<!--                        href="property-single.html"-->
<!--                        class="btn btn-primary py-2 px-3"-->
<!--                        >See details</a-->
<!--                      >-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; .item &ndash;&gt;-->

<!--                <div class="property-item">-->
<!--                  <a href="property-single.html" class="img">-->
<!--                    <img src="/static/images/img_4.jpg" alt="Image" class="img-fluid" />-->
<!--                  </a>-->

<!--                  <div class="property-content">-->
<!--                    <div class="price mb-2"><span>$1,291,000</span></div>-->
<!--                    <div>-->
<!--                      <span class="d-block mb-2 text-black-50"-->
<!--                        >5232 California Fake, Ave. 21BC</span-->
<!--                      >-->
<!--                      <span class="city d-block mb-3">California, USA</span>-->

<!--                      <div class="specs d-flex mb-4">-->
<!--                        <span class="d-block d-flex align-items-center me-3">-->
<!--                          <span class="icon-bed me-2"></span>-->
<!--                          <span class="caption">2 beds</span>-->
<!--                        </span>-->
<!--                        <span class="d-block d-flex align-items-center">-->
<!--                          <span class="icon-bath me-2"></span>-->
<!--                          <span class="caption">2 baths</span>-->
<!--                        </span>-->
<!--                      </div>-->

<!--                      <a-->
<!--                        href="property-single.html"-->
<!--                        class="btn btn-primary py-2 px-3"-->
<!--                        >See details</a-->
<!--                      >-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; .item &ndash;&gt;-->

<!--                <div class="property-item">-->
<!--                  <a href="property-single.html" class="img">-->
<!--                    <img src="/static/images/img_5.jpg" alt="Image" class="img-fluid" />-->
<!--                  </a>-->

<!--                  <div class="property-content">-->
<!--                    <div class="price mb-2"><span>$1,291,000</span></div>-->
<!--                    <div>-->
<!--                      <span class="d-block mb-2 text-black-50"-->
<!--                        >5232 California Fake, Ave. 21BC</span-->
<!--                      >-->
<!--                      <span class="city d-block mb-3">California, USA</span>-->

<!--                      <div class="specs d-flex mb-4">-->
<!--                        <span class="d-block d-flex align-items-center me-3">-->
<!--                          <span class="icon-bed me-2"></span>-->
<!--                          <span class="caption">2 beds</span>-->
<!--                        </span>-->
<!--                        <span class="d-block d-flex align-items-center">-->
<!--                          <span class="icon-bath me-2"></span>-->
<!--                          <span class="caption">2 baths</span>-->
<!--                        </span>-->
<!--                      </div>-->

<!--                      <a-->
<!--                        href="property-single.html"-->
<!--                        class="btn btn-primary py-2 px-3"-->
<!--                        >See details</a-->
<!--                      >-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; .item &ndash;&gt;-->

<!--                <div class="property-item">-->
<!--                  <a href="property-single.html" class="img">-->
<!--                    <img src="/static/images/img_6.jpg" alt="Image" class="img-fluid" />-->
<!--                  </a>-->

<!--                  <div class="property-content">-->
<!--                    <div class="price mb-2"><span>$1,291,000</span></div>-->
<!--                    <div>-->
<!--                      <span class="d-block mb-2 text-black-50"-->
<!--                        >5232 California Fake, Ave. 21BC</span-->
<!--                      >-->
<!--                      <span class="city d-block mb-3">California, USA</span>-->

<!--                      <div class="specs d-flex mb-4">-->
<!--                        <span class="d-block d-flex align-items-center me-3">-->
<!--                          <span class="icon-bed me-2"></span>-->
<!--                          <span class="caption">2 beds</span>-->
<!--                        </span>-->
<!--                        <span class="d-block d-flex align-items-center">-->
<!--                          <span class="icon-bath me-2"></span>-->
<!--                          <span class="caption">2 baths</span>-->
<!--                        </span>-->
<!--                      </div>-->

<!--                      <a-->
<!--                        href="property-single.html"-->
<!--                        class="btn btn-primary py-2 px-3"-->
<!--                        >See details</a-->
<!--                      >-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; .item &ndash;&gt;-->

<!--                <div class="property-item">-->
<!--                  <a href="property-single.html" class="img">-->
<!--                    <img src="/static/images/img_7.jpg" alt="Image" class="img-fluid" />-->
<!--                  </a>-->

<!--                  <div class="property-content">-->
<!--                    <div class="price mb-2"><span>$1,291,000</span></div>-->
<!--                    <div>-->
<!--                      <span class="d-block mb-2 text-black-50"-->
<!--                        >5232 California Fake, Ave. 21BC</span-->
<!--                      >-->
<!--                      <span class="city d-block mb-3">California, USA</span>-->

<!--                      <div class="specs d-flex mb-4">-->
<!--                        <span class="d-block d-flex align-items-center me-3">-->
<!--                          <span class="icon-bed me-2"></span>-->
<!--                          <span class="caption">2 beds</span>-->
<!--                        </span>-->
<!--                        <span class="d-block d-flex align-items-center">-->
<!--                          <span class="icon-bath me-2"></span>-->
<!--                          <span class="caption">2 baths</span>-->
<!--                        </span>-->
<!--                      </div>-->

<!--                      <a-->
<!--                        href="property-single.html"-->
<!--                        class="btn btn-primary py-2 px-3"-->
<!--                        >See details</a-->
<!--                      >-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; .item &ndash;&gt;-->

<!--                <div class="property-item">-->
<!--                  <a href="property-single.html" class="img">-->
<!--                    <img src="/static/images/img_8.jpg" alt="Image" class="img-fluid" />-->
<!--                  </a>-->

<!--                  <div class="property-content">-->
<!--                    <div class="price mb-2"><span>$1,291,000</span></div>-->
<!--                    <div>-->
<!--                      <span class="d-block mb-2 text-black-50"-->
<!--                        >5232 California Fake, Ave. 21BC</span-->
<!--                      >-->
<!--                      <span class="city d-block mb-3">California, USA</span>-->

<!--                      <div class="specs d-flex mb-4">-->
<!--                        <span class="d-block d-flex align-items-center me-3">-->
<!--                          <span class="icon-bed me-2"></span>-->
<!--                          <span class="caption">2 beds</span>-->
<!--                        </span>-->
<!--                        <span class="d-block d-flex align-items-center">-->
<!--                          <span class="icon-bath me-2"></span>-->
<!--                          <span class="caption">2 baths</span>-->
<!--                        </span>-->
<!--                      </div>-->

<!--                      <a-->
<!--                        href="property-single.html"-->
<!--                        class="btn btn-primary py-2 px-3"-->
<!--                        >See details</a-->
<!--                      >-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; .item &ndash;&gt;-->

<!--                <div class="property-item">-->
<!--                  <a href="property-single.html" class="img">-->
<!--                    <img src="/static/images/img_1.jpg" alt="Image" class="img-fluid" />-->
<!--                  </a>-->

<!--                  <div class="property-content">-->
<!--                    <div class="price mb-2"><span>$1,291,000</span></div>-->
<!--                    <div>-->
<!--                      <span class="d-block mb-2 text-black-50"-->
<!--                        >5232 California Fake, Ave. 21BC</span-->
<!--                      >-->
<!--                      <span class="city d-block mb-3">California, USA</span>-->

<!--                      <div class="specs d-flex mb-4">-->
<!--                        <span class="d-block d-flex align-items-center me-3">-->
<!--                          <span class="icon-bed me-2"></span>-->
<!--                          <span class="caption">2 beds</span>-->
<!--                        </span>-->
<!--                        <span class="d-block d-flex align-items-center">-->
<!--                          <span class="icon-bath me-2"></span>-->
<!--                          <span class="caption">2 baths</span>-->
<!--                        </span>-->
<!--                      </div>-->

<!--                      <a-->
<!--                        href="property-single.html"-->
<!--                        class="btn btn-primary py-2 px-3"-->
<!--                        >See details</a-->
<!--                      >-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; .item &ndash;&gt;-->
<!--              </div>-->

<!--              <div-->
<!--                id="property-nav"-->
<!--                class="controls"-->
<!--                tabindex="0"-->
<!--                aria-label="Carousel Navigation"-->
<!--              >-->
<!--                <span-->
<!--                  class="prev"-->
<!--                  data-controls="prev"-->
<!--                  aria-controls="property"-->
<!--                  tabindex="-1"-->
<!--                  >Prev</span-->
<!--                >-->
<!--                <span-->
<!--                  class="next"-->
<!--                  data-controls="next"-->
<!--                  aria-controls="property"-->
<!--                  tabindex="-1"-->
<!--                  >Next</span-->
<!--                >-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<div class="section section-properties">
    <div class="container">
        <div class="row" id="content">
        </div>
        <div class="row align-items-center py-5">
            <div class="col-lg-3 pagination-text">Pagination (1 of 10)</div>
            <div class="col-lg-6 text-center">
                <div class="custom-pagination" id="pagination">
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragment/footer :: footer"></div>

<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/tiny-slider.js"></script>
<script src="/static/js/aos.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/counter.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/jquery/jquery-3.7.1.js"></script>
<script src="/static/js/axios.min.js"></script>
<script defer src="/static/js/location.js"></script>
<script defer src="/static/js/getDataRE.js"></script>

</body>
</html>
