<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head th:replace="fragment/header_css_title :: header">
    <title>Property Single</title>
</head>
<body>
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>
<nav th:replace="fragment/navbar :: navbar"></nav>
<div
        class="hero page-inner overlay"
        style="background-image: url('/static/images/hero_bg_3.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up" th:text="${realEstate.title}">
                    Title
                </h1>
                <nav
                        aria-label="breadcrumb"
                        data-aos="fade-up"
                        data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item">
                            <a href="/properties">Properties</a>
                        </li>
                        <li
                                class="breadcrumb-item active text-white-50"
                                aria-current="page" th:text="${realEstate.title}">
                            Title
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7">
                <div class="img-property-slide-wrap">
                    <div class="img-property-slide">
                        <th:block th:each="image : ${realEstate.imagesList}">
                            <img th:src="'/static/images/real_estate_images/' + ${image}" alt="Image"
                                 class="img-fluid"/>
                        </th:block>
                    </div>
                </div>
                <div id="map"></div>
            </div>
            <div class="col-lg-4">
                <h2 class="heading text-primary" th:text="${realEstate.title}">Title</h2>
                <p class="meta" id="fullAddress"
                   th:text="${realEstate.address+', '+realEstate.wardRe+', '+realEstate.districtRe+', '+realEstate.cityRe}">
                    Location</p>
                <div class="d-flex flex-wrap py-3 mb-3"
                     style="border-top: 1px solid #F2F2F2; border-bottom: 1px solid #F2F2F2">
                    <div class="d-flex flex-wrap flex-column me-4">
                        <span class="icon-attach_money mb-3 fs-6"> Price</span>
                        <span class="fs-4"
                              style="color: #005555;"
                              th:text="${realEstate.price != null ?'$'+realEstate.price : 'Negotiated Price'}"></span>
                    </div>
                    <div class="d-flex flex-wrap flex-column me-4">
                        <span class="icon-compass mb-3 fs-6"> Area</span>
                        <span class="fs-4"
                              style="color: #005555;"
                              th:text="${realEstate.landArea}+'m&sup2'"></span>
                    </div>
                </div>
                <h5 class="heading text-primary mb-3">Description</h5>
                <p class="text-black-50 break-desc" id="descriptionRe" th:text="${realEstate.description}">
                    Description
                </p>

                <h5 class="heading text-primary mb-3">Real Estate Details</h5>
                <div class="d-flex flex-wrap py-3 mb-3" style="border-top: 1px solid #F2F2F2">
                    <div class="d-flex flex-nowrap flex-row py-3 align-items-baseline"
                         style="border-bottom: 1px solid #F2F2F2;
                                width: calc(50% - 5px);">
                        <span class="icon-compass fs-6 pe-2"> Area</span>
                        <span class="fs-6"
                              style="color: #005555;"
                              th:text="${realEstate.landArea}+'m&sup2'"></span>
                    </div>
                    <div class="d-flex flex-nowrap flex-row py-3 align-items-baseline"
                         style="border-bottom: 1px solid #F2F2F2;
                         width: calc(50% - 5px);">
                        <span class="icon-attach_money fs-6 pe-2"> Price</span>
                        <span class="fs-6"
                              style="color: #005555;"
                              th:text="${realEstate.price != null ?'$'+realEstate.price : 'Negotiated Price'}"></span>
                    </div>
                    <div class="d-flex flex-nowrap flex-row py-3 align-items-baseline"
                         style="border-bottom: 1px solid #F2F2F2;
                                width: calc(50% - 5px);">
                        <span class="icon-compass fs-6 pe-2"> Room</span>
                        <span class="fs-6"
                              style="color: #005555;"
                              th:text="${realEstate.room}"></span>
                    </div>
                    <div class="d-flex flex-nowrap flex-row py-3 align-items-baseline"
                         style="border-bottom: 1px solid #F2F2F2;
                                width: calc(50% - 5px);">
                        <span class="icon-compass fs-6 pe-2"> Bed Room</span>
                        <span class="fs-6"
                              style="color: #005555;"
                              th:text="${realEstate.bedRoom}"></span>
                    </div>
                    <div class="d-flex flex-nowrap flex-row py-3 align-items-baseline"
                         style="border-bottom: 1px solid #F2F2F2;
                                width: calc(50% - 5px);">
                        <span class="icon-compass fs-6 pe-2"> Bath Room</span>
                        <span class="fs-6"
                              style="color: #005555;"
                              th:text="${realEstate.bathRoom}"></span>
                    </div>
                    <div class="d-flex flex-nowrap flex-row py-3 align-items-baseline"
                         style="border-bottom: 1px solid #F2F2F2;
                                width: calc(50% - 5px);">
                        <span class="icon-compass fs-6 pe-2">Juridical</span>
                        <span class="fs-6"
                              style="color: #005555;">
                            Certificate
                        </span>
                    </div>
                </div>

                <div class="d-flex align-items-baseline">
                    <input type="checkbox" name="isFavorited" onchange="toggleFavorite()" id="isFavorited" hidden>
                    <label class="text-black-50 fs-6 me-3" for="isFavorited">Like this property</label>
                    <span id="isFavoritedIcon" class="icon-heart-o"></span>
                    <p id="idReHolder" th:text="${realEstateId}" hidden></p>
                    <p id="userNameHolder" th:text="${username}" hidden></p>
                </div>


                <div class="d-block agent-box p-5">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="img mb-4">
                            <img src="/static/images/person_2-min.jpg"
                                 th:src="${'../static/images/avatars/'+realEstate.user.avatar}"
                                 alt="Image"
                                 class="img-fluid"/>
                        </div>
                        <div class="text">
                            <h3 class="mb-0" th:text="${realEstate.user.name}">Owner</h3>
                            <div class="meta mb-3">
                                Owner
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <p th:text="${realEstate.user.description}">
                            User description
                        </p>
                        <div class="d-flex flex-wrap py-3 mb-3" style="border-top: 1px solid #F2F2F2">
                            <div class="d-flex flex-wrap flex-row py-3 align-items-baseline w-100"
                                 style="border-bottom: 1px solid #F2F2F2;">
                                <span class="icon-phone2 fs-6 pe-2"> Phone: </span>
                                <span class="fs-6" style="color: #005555;">
                                    <a class="link-underline-success" th:href="'tel://'+${realEstate.user.phoneNumber}"
                                       th:text="${realEstate.user.phoneNumber}">PhoneNumber</a>
                                </span>
                            </div>
                            <div class="d-flex flex-wrap flex-row py-3 align-items-baseline w-100"
                                 style="border-bottom: 1px solid #F2F2F2;">
                                <span class="icon-contact_mail fs-6 pe-2"> Email: </span>
                                <span class="fs-6" style="color: #005555;">
                                    <a class="link-underline-success" th:href="'mailto:'+${realEstate.user.email}"
                                       th:text="${realEstate.user.email}">Email</a>
                                </span>
                            </div>
                        </div>
                        <ul class="list-unstyled social dark-hover d-flex">
                            <li class="me-1">
                                <a href="#"><span class="icon-instagram"></span></a>
                            </li>
                            <li class="me-1">
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="me-1">
                                <a href="#"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="me-1">
                                <a href="#"><span class="icon-linkedin"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragment/footer :: footer"></div>

<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/tiny-slider.js"></script>
<script src="/static/js/aos.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/counter.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/jquery/jquery-3.7.1.js"></script>
<script src="/static/js/addReToLikedList.js"></script>
<script src="/static/js/replaceBreakLine.js"></script>
<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
({key: "AIzaSyD9o8pm_KSr_tS02vngCTjgzx71yTFoLhA", v: "weekly"});</script>
<script src="/static/js/googlemapApiSinglePropety.js"></script>
</body>
</html>
