<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head th:replace="fragment/header_css_title :: header">
    <title>Property Single</title>
</head>
<body>
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>
<nav th:replace="fragment/navbar :: navbar"></nav>
<div
        class="hero page-inner overlay"
        style="background-image: url('/static/images/hero_bg_3.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up" th:text="${realEstate.title}">
                    Title
                </h1>
                <nav
                        aria-label="breadcrumb"
                        data-aos="fade-up"
                        data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item">
                            <a href="/properties">Properties</a>
                        </li>
                        <li
                                class="breadcrumb-item active text-white-50"
                                aria-current="page" th:text="${realEstate.title}">
                            Title
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7">
                <div class="img-property-slide-wrap">
                    <div class="img-property-slide">
                        <th:block th:each="image : ${realEstate.imagesList}">
                            <img th:src="'/static/images/real_estate_images/' + ${image}" alt="Image"
                                 class="img-fluid" style="max-height: 30rem"/>
                        </th:block>
                    </div>
                </div>
                <div id="map"></div>
            </div>
            <div class="col-lg-4">
                <h2 class="heading text-primary" th:text="${realEstate.title}">Title</h2>
                <p class="meta" id="fullAddress"
                   th:text="${realEstate.address+', '+realEstate.wardRe+', '+realEstate.districtRe+', '+realEstate.cityRe}">
                    Location</p>
                <div class="d-flex flex-wrap py-3 mb-3"
                     style="border-top: 1px solid #F2F2F2; border-bottom: 1px solid #F2F2F2">
                    <div class="d-flex flex-wrap flex-column me-4">
                        <span class="icon-attach_money mb-3 fs-6"> Price</span>
                        <span class="fs-4"
                              style="color: #005555;"
                              th:text="${realEstate.price != null ?'$'+realEstate.price : 'Negotiated Price'}"></span>
                    </div>
                    <div class="d-flex flex-wrap flex-column me-4">
                        <span class="icon-compass mb-3 fs-6"> Area</span>
                        <span class="fs-4"
                              style="color: #005555;"
                              th:text="${realEstate.landArea}+'m&sup2'"></span>
                    </div>
                </div>
                <h5 class="heading text-primary mb-3">Description</h5>
                <p class="text-black-50 break-desc" id="descriptionRe" th:text="${realEstate.description}">
                    Description
                </p>

                <h5 class="heading text-primary mb-3">Real Estate Details</h5>
                <div class="d-flex flex-wrap py-3 mb-3" style="border-top: 1px solid #F2F2F2">
                    <div class="d-flex flex-nowrap flex-row py-3 align-items-baseline"
                         style="border-bottom: 1px solid #F2F2F2;
                                width: calc(50% - 5px);">
                        <p class="text-black-50 fs-6 me-2"><span class="icon-compass fs-6 pe-2"></span>Area</p>
                        <span class="fs-6"
                              style="color: #005555;"
                              th:text="${realEstate.landArea}+'m&sup2'"></span>
                    </div>
                    <div class="d-flex flex-nowrap flex-row py-3 align-items-baseline"
                         style="border-bottom: 1px solid #F2F2F2;
                         width: calc(50% - 5px);">
                        <p class="text-black-50 fs-6 me-2"><span class="icon-attach_money fs-6 pe-2"> </span>Price</p>
                        <span class="fs-6"
                              style="color: #005555;"
                              th:text="${realEstate.price != null ?'$'+realEstate.price : 'Negotiated Price'}"></span>
                    </div>
                    <div class="d-flex flex-nowrap flex-row py-3 align-items-baseline"
                         style="border-bottom: 1px solid #F2F2F2;
                                width: calc(50% - 5px);">
                        <p class="text-black-50 fs-6 me-2"><span class="icon-room fs-6 pe-2"></span> Room </p>
                        <span class="fs-6"
                              style="color: #005555;"
                              th:text="${realEstate.room}"></span>
                    </div>
                    <div class="d-flex flex-nowrap flex-row py-3 align-items-baseline"
                         style="border-bottom: 1px solid #F2F2F2;
                                width: calc(50% - 5px);">
                        <p class="text-black-50 fs-6 me-2"><span class="icon-bed fs-6 pe-2"></span> Bed Room </p>
                        <span class="fs-6"
                              style="color: #005555;"
                              th:text="${realEstate.bedRoom}"></span>
                    </div>
                    <div class="d-flex flex-nowrap flex-row py-3 align-items-baseline"
                         style="border-bottom: 1px solid #F2F2F2;
                                width: calc(50% - 5px);">
                        <p class="text-black-50 fs-6 me-2"><span class="icon-bath fs-6 pe-2"></span> Bath Room </p>
                        <span class="fs-6"
                              style="color: #005555;"
                              th:text="${realEstate.bathRoom}"></span>
                    </div>
                    <div class="d-flex flex-nowrap flex-row py-3 align-items-baseline"
                         style="border-bottom: 1px solid #F2F2F2;
                                width: calc(50% - 5px);">
                        <p class="text-black-50 fs-6 me-2"><span class="icon-library_books fs-6 pe-2"></span> Juridical </p>
                        <span class="fs-6"
                              style="color: #005555;">
                            Certificate
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex align-items-center col-md-6 col-sm-12 mb-3">
                        <input type="checkbox" name="isFavorited" onchange="toggleFavorite()" id="isFavorited" hidden>
                        <label class="text-black-50 fs-6 d-flex align-items-center p-2 border rounded-2"
                               for="isFavorited"
                               style="cursor: pointer">
                            Like this property<span id="isFavoritedIcon" class="icon-heart-o ms-2"></span>
                        </label>
                        <p id="idReHolder" th:text="${realEstateId}" hidden></p>
                        <p id="userNameHolder" th:text="${username}" hidden></p>
                    </div>
                    <div class="d-flex align-items-center col-md-6 col-sm-12 mb-3">
                        <label class="text-black-50 fs-6 d-flex align-items-center p-2 border rounded-2"
                               style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#reportReBackdrop" role="button">
                            Report property<span id="reportReIcon" class="icon-warning ms-2"></span>
                        </label>
                    </div>
                </div>




                <div class="d-block agent-box p-5">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="img mb-4">
                            <img src="/static/images/person_2-min.jpg"
                                 th:src="${'../static/images/avatars/'+realEstate.user.avatar}"
                                 alt="Image"
                                 class="img-fluid"/>
                        </div>
                        <div class="text">
                            <h3 class="mb-0" th:text="${realEstate.user.name}">Owner</h3>
                            <div class="meta mb-3">
                                Owner
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <p th:text="${realEstate.user.description}">
                            User description
                        </p>
                        <div class="d-flex flex-wrap py-3 mb-3" style="border-top: 1px solid #F2F2F2">
                            <div class="d-flex flex-wrap flex-row py-3 align-items-baseline w-100"
                                 style="border-bottom: 1px solid #F2F2F2;">
                                <span class="icon-phone2 fs-6 pe-2"> Phone: </span>
                                <span class="fs-6" style="color: #005555;">
                                    <a class="link-underline-success" th:href="'tel://'+${realEstate.user.phoneNumber}"
                                       th:text="${realEstate.user.phoneNumber}">PhoneNumber</a>
                                </span>
                            </div>
                            <div class="d-flex flex-wrap flex-row py-3 align-items-baseline w-100"
                                 style="border-bottom: 1px solid #F2F2F2;">
                                <span class="icon-contact_mail fs-6 pe-2"> Email: </span>
                                <span class="fs-6" style="color: #005555;">
                                    <a class="link-underline-success" th:href="'mailto:'+${realEstate.user.email}"
                                       th:text="${realEstate.user.email}">Email</a>
                                    <p id="userIdHolderToReport" th:text="${realEstate.user.id}" hidden></p>
                                </span>
                            </div>
                        </div>
                        <ul class="list-unstyled social dark-hover d-flex">
                            <li class="me-1">
                                <a href="#"><span class="icon-instagram"></span></a>
                            </li>
                            <li class="me-1">
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="me-1">
                                <a href="#"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="me-1">
                                <a href="#"><span class="icon-linkedin"></span></a>
                            </li>
                            <li class="me-1">
                                <a><span class="icon-warning" data-bs-toggle="modal" data-bs-target="#reportUserBackdrop" role="button" style="color: red"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reportReBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportReLabel">Report Property</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="reportReForm">
                    <div class="mb-3">
                        <label for="emailReportRe" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="emailReportRe" name="emailReportRe" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="phoneReportRe" class="form-label">Phone number</label>
                        <input type="text" class="form-control" id="phoneReportRe" name="phoneReportRe" placeholder="+084 123 456 789">
                    </div>
                    <div class="mb-3">
                        <label for="typeReportRe" class="form-label">Type Report</label>
                        <select class="form-select" aria-label="Type report re" id="typeReportRe" name="typeReReport">
                            <option selected>Select type</option>
                            <option value="Wrong Location">Wrong Location</option>
                            <option value="Duplicate With Other Properties">Duplicate With Other Properties</option>
                            <option value="Can't Contact">Can't Contact</option>
                            <option value="Properties Not Exist">Properties Not Exist</option>
                            <option value="Properties Have Been Sold">Properties Have Been Sold</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="descReTextarea" class="form-label">Description</label>
                        <textarea class="form-control" id="descReTextarea" rows="5" name="contentReReport"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSubmitReportRe">Send</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reportUserBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ReportUserLabel">Report User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="reportUserForm">
                    <div class="mb-3">
                        <label for="emailReportUser" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="emailReportUser" name="emailReportUser" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="phoneReportUser" class="form-label">Phone number</label>
                        <input type="text" class="form-control" id="phoneReportUser" name="phoneReportUser" placeholder="+084 123 456 789">
                    </div>
                    <div class="mb-3">
                        <label for="typeReportUser" class="form-label">Type Report</label>
                        <select class="form-select" aria-label="Type report re" id="typeReportUser" name="typeReportUser">
                            <option selected>Select type</option>
                            <option value="Wrong Location">Fake Account</option>
                            <option value="Duplicate With Other Properties">User Not Respond</option>
                            <option value="Can't Contact">Can't Contact</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="descUserTextarea" class="form-label">Description</label>
                        <textarea class="form-control" id="descUserTextarea" rows="5" name="contentUserReport"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSubmitReportUser">Send</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragment/footer :: footer"></div>

<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/tiny-slider.js"></script>
<script src="/static/js/aos.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/counter.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/jquery/jquery-3.7.1.js"></script>
<script src="/static/js/addReToLikedList.js"></script>
<script src="/static/js/replaceBreakLine.js"></script>
<script src="/static/js/saber-toast.js"></script>
<script>(g => {
    var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document,
        b = window;
    b = b[c] || (b[c] = {});
    var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
        u = () => h || (h = new Promise(async (f, n) => {
            await (a = m.createElement("script"));
            e.set("libraries", [...r] + "");
            for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
            e.set("callback", c + ".maps." + q);
            a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
            d[q] = f;
            a.onerror = () => h = n(Error(p + " could not load."));
            a.nonce = m.querySelector("script[nonce]")?.nonce || "";
            m.head.append(a)
        }));
    d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
})
({key: "AIzaSyDvDlwCKRDY_6cCuY6UCv0EM9awgaQSJCo", v: "weekly"});</script>
<script src="/static/js/googlemapApiSinglePropety.js"></script>
<script src="/static/js/addReport.js"></script>
</body>
</html>
