<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head th:replace="fragment/header_css_title :: header">
    <title>Services</title>
</head>
<body>
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav th:replace="fragment/navbar :: navbar"></nav>
<div
        class="hero page-inner overlay"
        style="background-image: url('/static/images/hero_bg_1.jpg')"
>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Services</h1>

                <nav
                        aria-label="breadcrumb"
                        data-aos="fade-up"
                        data-aos-delay="200"
                >
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li
                                class="breadcrumb-item active text-white-50"
                                aria-current="page"
                        >
                            Services
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                <div class="box-feature mb-4">
                    <span class="flaticon-house mb-4 d-block"></span>
                    <h3 class="text-black mb-3 font-weight-bold">
                        Quality Properties
                    </h3>
                    <p class="text-black-50">
                        Far far away, behind the word mountains, far from the countries
                        Vokalia and Consonantia, there live the blind texts.
                    </p>
                    <p><a href="#" class="learn-more">Read more</a></p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
                <div class="box-feature mb-4">
                    <span class="flaticon-house-2 mb-4 d-block-3"></span>
                    <h3 class="text-black mb-3 font-weight-bold">Top Rated Agent</h3>
                    <p class="text-black-50">
                        Far far away, behind the word mountains, far from the countries
                        Vokalia and Consonantia, there live the blind texts.
                    </p>
                    <p><a href="#" class="learn-more">Read more</a></p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
                <div class="box-feature mb-4">
                    <span class="flaticon-building mb-4 d-block"></span>
                    <h3 class="text-black mb-3 font-weight-bold">
                        Property for Sale
                    </h3>
                    <p class="text-black-50">
                        Far far away, behind the word mountains, far from the countries
                        Vokalia and Consonantia, there live the blind texts.
                    </p>
                    <p><a href="#" class="learn-more">Read more</a></p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
                <div class="box-feature mb-4">
                    <span class="flaticon-house-3 mb-4 d-block-1"></span>
                    <h3 class="text-black mb-3 font-weight-bold">House for Sale</h3>
                    <p class="text-black-50">
                        Far far away, behind the word mountains, far from the countries
                        Vokalia and Consonantia, there live the blind texts.
                    </p>
                    <p><a href="#" class="learn-more">Read more</a></p>
                </div>
            </div>

            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                <div class="box-feature mb-4">
                    <span class="flaticon-house-4 mb-4 d-block"></span>
                    <h3 class="text-black mb-3 font-weight-bold">
                        Quality Properties
                    </h3>
                    <p class="text-black-50">
                        Far far away, behind the word mountains, far from the countries
                        Vokalia and Consonantia, there live the blind texts.
                    </p>
                    <p><a href="#" class="learn-more">Read more</a></p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
                <div class="box-feature mb-4">
                    <span class="flaticon-building mb-4 d-block-3"></span>
                    <h3 class="text-black mb-3 font-weight-bold">Top Rated Agent</h3>
                    <p class="text-black-50">
                        Far far away, behind the word mountains, far from the countries
                        Vokalia and Consonantia, there live the blind texts.
                    </p>
                    <p><a href="#" class="learn-more">Read more</a></p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
                <div class="box-feature mb-4">
                    <span class="flaticon-house mb-4 d-block"></span>
                    <h3 class="text-black mb-3 font-weight-bold">
                        Property for Sale
                    </h3>
                    <p class="text-black-50">
                        Far far away, behind the word mountains, far from the countries
                        Vokalia and Consonantia, there live the blind texts.
                    </p>
                    <p><a href="#" class="learn-more">Read more</a></p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
                <div class="box-feature mb-4">
                    <span class="flaticon-house-1 mb-4 d-block-1"></span>
                    <h3 class="text-black mb-3 font-weight-bold">House for Sale</h3>
                    <p class="text-black-50">
                        Far far away, behind the word mountains, far from the countries
                        Vokalia and Consonantia, there live the blind texts.
                    </p>
                    <p><a href="#" class="learn-more">Read more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section sec-testimonials">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-md-6">
                <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">
                    Customer Says
                </h2>
            </div>
            <div class="col-md-6 text-md-end">
                <div id="testimonial-nav">
                    <span class="prev" data-controls="prev">Prev</span>
                    <span class="next" data-controls="next">Next</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4"></div>
        </div>
        <div class="testimonial-slider-wrap">
            <div class="testimonial-slider">
                <div class="item">
                    <div class="testimonial">
                        <img src="/static/images/avatars/avatarCustomer1.jpg"
                             alt="Image"
                             class="img-fluid rounded-circle w-25 mb-4"/>
                        <div class="rate">
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                        </div>
                        <h3 class="h5 text-primary mb-4">Tra Mie</h3>
                        <blockquote>
                            <p>
                                &ldquo;Navigating the website was a breeze.
                                The property listings were comprehensive,
                                and the search filters made it easy to
                                find exactly what I was looking for.
                                Kudos to the team.&rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black-50">Customer</p>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial">
                        <img
                                src="/static/images/avatars/avatarCustomer2.jpg"
                                alt="Image"
                                class="img-fluid rounded-circle w-25 mb-4"
                        />
                        <div class="rate">
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                        </div>
                        <h3 class="h5 text-primary mb-4">Thao Anh</h3>
                        <blockquote>
                            <p>
                                &ldquo;Thanks to this website, I discovered my
                                perfect home. The detailed property
                                descriptions and high-quality images
                                helped me make an informed decision.
                                Highly recommended.&rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black-50">Customer</p>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial">
                        <img
                                src="/static/images/avatars/avatarCustomer3.jpg"
                                alt="Image"
                                class="img-fluid rounded-circle w-25 mb-4"
                        />
                        <div class="rate">
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                        </div>
                        <h3 class="h5 text-primary mb-4">Ha Phuong</h3>
                        <blockquote>
                            <p>
                                &ldquo;The real estate agents on this platform
                                provided invaluable advice throughout my
                                property search. Their expertise and
                                responsiveness made the process smooth.&rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black-50">Customer</p>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial">
                        <img
                                src="/static/images/avatars/avatarCustomer4.jpg"
                                alt="Image"
                                class="img-fluid rounded-circle w-25 mb-4"
                        />
                        <div class="rate">
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                        </div>
                        <h3 class="h5 text-primary mb-4">Cam Ly</h3>
                        <blockquote>
                            <p>
                                &ldquo;I appreciated the user-friendly
                                and accurate property information.
                                Whether you’re a buyer or seller,
                                this website is a must-visit.&rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black-50">Designer, Co-founder</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragment/footer :: footer"></div>

<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/tiny-slider.js"></script>
<script src="/static/js/aos.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/counter.js"></script>
<script src="/static/js/custom.js"></script>
</body>
</html>
