<aside class="left-sidebar" th:fragment="aside">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-center">
            <a href="/admin/home" class="text-nowrap logo-img">
                <img src="/static/images/QMhouse.png" width="125" alt=""/>
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Home</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/home" aria-expanded="false">
                            <span>
                              <i class="ti ti-layout-dashboard"></i>
                            </span>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">REAL ESTATE</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/all_re" aria-expanded="false">
                            <span>
                              <i class="ti ti-brand-producthunt"></i>
                            </span>
                        <span class="hide-menu">All Properties</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/accept_post_re" aria-expanded="false">
                        <span>
                          <i class="ti ti-circle-check"></i>
                        </span>
                        <span class="hide-menu">Accept New Post</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/list_recommend_re" aria-expanded="false">
                        <span>
                          <i class="ti ti-cards"></i>
                        </span>
                        <span class="hide-menu">List Recommend</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Account</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/all_acc" aria-expanded="false">
                            <span>
                              <i class="ti ti-users"></i>
                            </span>
                        <span class="hide-menu">Manager User</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Report</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/report_re" aria-expanded="false">
                            <span>
                              <i class="ti ti-report"></i>
                            </span>
                        <span class="hide-menu">Report About Real Estate</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/report_acc" aria-expanded="false">
                            <span>
                              <i class="ti ti-clipboard-data"></i>
                            </span>
                        <span class="hide-menu">Report About User</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Wiki</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/wiki" aria-expanded="false">
                            <span>
                              <i class="ti ti-news"></i>
                            </span>
                        <span class="hide-menu">Manager Wiki</span>
                    </a>
                </li>
            </ul>
            <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-3 rounded">
                <div class="d-flex">
                    <div class="unlimited-access-title me-3">
                        <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Done With All Access</h6>
                        <a href="/" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm">
                            <span class="me-2">
                              <i class="ti ti-arrow-narrow-left"></i>
                            </span>
                            Back To Home
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>